.git
.github
.idea
.vscode
.claude
out
**/.dart_tool
**/build
**/.gradle
**/android/local.properties
**/ios/Pods
**/ios/.symlinks
**/*.iml
apps/docs/assets/docs
coverage
*.keystore
*.jks
key.properties
